<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>热门</key>
	<array>
		<string>中国工商银行</string>
		<string>中国建设银行</string>
		<string>中国农业银行</string>
		<string>中国银行</string>
		<string>交通银行</string>
		<string>中国邮政储蓄银行</string>
		<string>招商银行</string>
	</array>
	<key>A</key>
	<array>
		<string>安徽信用社</string>
	</array>
	<key>B</key>
	<array>
		<string>包商银行</string>
		<string>北京农商</string>
		<string>北京银行</string>
		<string>渤海银行</string>
	</array>
	<key>C</key>
	<array>
		<string>朝阳银行</string>
		<string>成都农商银行</string>
		<string>成都银行</string>
		<string>重庆农商银行</string>
		<string>重庆银行</string>
		<string>稠州商业银行</string>
	</array>
	<key>D</key>
	<array>
		<string>大连银行</string>
		<string>东莞农商银行</string>
		<string>东莞银行</string>
		<string>东亚银行</string>
	</array>
	<key>F</key>
	<array>
		<string>福建海峡银行</string>
		<string>福建农村信用社</string>
		<string>福建省农村信用社</string>
		<string>富滇银行</string>
	</array>
	<key>G</key>
	<array>
		<string>广东南粤银行</string>
		<string>广东农村信用社</string>
		<string>广发银行</string>
		<string>广西北部湾银行</string>
		<string>广西农村信用社</string>
		<string>广州农商银行</string>
		<string>广州银行</string>
		<string>贵阳银行</string>
		<string>贵州省农村信用社</string>
		<string>桂林银行</string>
		<string>国家开发银行</string>
	</array>
	<key>H</key>
	<array>
		<string>哈尔滨银行</string>
		<string>汉口银行</string>
		<string>杭州银行</string>
		<string>河北银行</string>
		<string>河南农村信用社</string>
		<string>河南伊川农商银行</string>
		<string>恒丰银行</string>
		<string>湖北省农村信用社</string>
		<string>华夏银行</string>
		<string>徽商银行</string>
	</array>
	<key>J</key>
	<array>
		<string>吉林银行</string>
		<string>济宁银行</string>
		<string>江南国民村镇银行</string>
		<string>江苏银行</string>
		<string>江西农村信用社</string>
		<string>锦州银行</string>
		<string>晋城银行</string>
		<string>晋商银行</string>
		<string>晋中银行</string>
		<string>九江银行</string>
	</array>
	<key>K</key>
	<array>
		<string>昆仑银行</string>
	</array>
	<key>L</key>
	<array>
		<string>莱商银行</string>
		<string>廊坊银行</string>
		<string>乐山市商业银行</string>
		<string>临商银行</string>
		<string>柳州银行</string>
		<string>龙江银行</string>
	</array>
	<key>M</key>
	<array>
		<string>民泰商业银行</string>
	</array>
	<key>N</key>
	<array>
		<string>南京银行</string>
		<string>内蒙古银行</string>
		<string>宁波银行</string>
	</array>
	<key>P</key>
	<array>
		<string>攀枝花商业银行</string>
		<string>平安银行</string>
	</array>
	<key>Q</key>
	<array>
		<string>齐商银行</string>
		<string>其他银行</string>
		<string>青岛银行</string>
	</array>
	<key>S</key>
	<array>
		<string>厦门银行</string>
		<string>山东省农村信用社</string>
		<string>上海农商</string>
		<string>上海浦东发展银行</string>
		<string>上海银行</string>
		<string>绍兴银行</string>
		<string>深圳发展银行</string>
		<string>深圳农商银行</string>
		<string>盛京银行</string>
		<string>顺德农商银行</string>
		<string>四川省农村信用社</string>
		<string>四川天府银行</string>
		<string>苏州银行</string>
	</array>
	<key>T</key>
	<array>
		<string>台州银行</string>
		<string>天津银行</string>
	</array>
	<key>W</key>
	<array>
		<string>威海银行</string>
	</array>
	<key>X</key>
	<array>
		<string>西安银行</string>
		<string>星展银行</string>
		<string>兴业银行</string>
	</array>
	<key>Y</key>
	<array>
		<string>银座银行</string>
		<string>云南农村信用社</string>
	</array>
	<key>Z</key>
	<array>
		<string>张家口银行</string>
		<string>长城华西银行</string>
		<string>浙江农村信用社</string>
		<string>浙商银行</string>
		<string>郑州银行</string>
		<string>中国光大银行</string>
		<string>中国进出口银行</string>
		<string>中国民生银行</string>
		<string>中国农村信用社</string>
		<string>中旅银行</string>
		<string>中信银行</string>
		<string>中原银行</string>
		<string>珠海农商银行</string>
		<string>珠海市农村信用社</string>
	</array>
</dict>
</plist>
